<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<script src="../../view.js" type="text/javascript"></script>
		<script src="../../example/basket/js/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="todo">
		</div>
		<script type="text/view" id="temp">
		<ul>
			<% for(var k in list){ %>
			<li> <% echo(list[k]['active']?list[k]['text']:"<b>"+list[k]['text']+"</b>"); %>  </li>
			<% } %>
		</ul>
		<input type="text" name="add" /><div class="add" onclick="add()">add</div>
		<%
		var e=document.querySelector('#todo'),temp=this;
		add=function(){data['list'][data['list'].length]={'text':document.querySelector("[name='add']").value,'active':false};e.innerHTML=temp.ReRender(data);};
		%>
		</script>
		<script type="text/javascript">
			var data={'list':[{"text":'1234','active':true},{"text":'1234','active':true},{"text":'1234','active':true},{"text":'1234','active':true},{"text":'1234','active':true}]};
			document.querySelector('#todo').innerHTML=new Templater(document.querySelector('#temp').innerHTML,data).Render();
		</script>
	</body>
</html>
